* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 206, 200);
  font-family: sans-serif;
  color: rgb(94, 34, 16);
}

/* 

Gap -> Espacio entre los elementos

Recibe valores en números con unidades relativas o absolutas.

Esta propiedad se pasa al contenedor

*/

.container {
  width: 500px;
  background-color: burlywood;
  /* gap: 24px; */ /* Espacio entre los elementos */
  /* gap: 3rem; */ /* Unidades absolutas: px o relativas: em o rem */

  display: flex;
  flex-wrap: wrap;

  row-gap: 32px; /* Espacio entre los elementos en la horizontal */

  column-gap: 16px; /* Espacio entre los elementos en la vertical */

  gap: 4px 32px; /* Con dos valores, el primero es para espacio horizontal y el segundo con el espacio vertical */

  background-color: cadetblue;
}

.item {
  width: 100px;
  height: 100px;

  background-color: darkkhaki;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid rgb(0, 147, 22);
}