body {
  background-color: rgb(224, 206, 200);
  font-family: sans-serif;
  color: rgb(94, 34, 16);
}

.container {
  display: flex;
  background-color: rgb(135, 190, 118);
}

/* Propiedades de Flexbox para los Items

  + Flex-Grow -> Esta propiedad ajuste el factor de crecimiento de los elementos, en función del espacio disponible. El valor por default es 'auto'.

  Esta propiedad recibe valores numéricos 1, 2, 3, 4... El número que coloquemos es el factor de crecimiento.
*/

.item {
  flex-grow: auto; /* Este es el valor por default */
  flex-grow: 1; /* Va a hacer que todo los items crezcan con el mismo factor */
  width: 200px;

  background-color: burlywood;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid rgb(97, 34, 14);
}

.cuchurrumino {
  flex-grow: 10; /* El item con esta clase crece con un factor de 2 */
}

.Gato1 {
  flex-grow: 10;
  background-color: chocolate;
}

.Gato2 {
  flex-grow: 6;
  background-color: coral;
}

.Gato3 {
  flex-grow: 4;
  background-color: darkorange;
}

.Gato4 {
  flex-grow: 1;
  background-color: darksalmon;
}