body {
  background-color: rgb(224, 206, 200);
  font-family: sans-serif;
  color: rgb(94, 34, 16);
}

.container {
  display: flex; /* Esto habilita las propiedades de Flexbox */
  flex-direction: row; /* Este es el valor por default */
  flex-direction: column; /* Cambia de dirección el eje principal */
  display: flex;
  background-color: rgb(135, 190, 118);
}

/* Propiedades de Flexbox para los Items


  + flex-basis -> Tamaño del main size del elemento. Es como un 'width' ncho de base del elemento. ->

    Cuando flex-direction: row / row reverse -> flex basics = ancho
    Cuando flex-direction: column / column-reverse -> felx basis = alto 

    Flex-Basis es relativo al espacio disponible del contenedor. Si no hay espacio suficiente los elementos no crecerán más allá.

    Si tengo flex-basis declarado, el width/height no funciona de acuerdo al contexto de dirección de eje principal.

*/

.item {
  flex-basis: 100px;
  heigth: 500px;
  background-color: burlywood;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid rgb(97, 34, 14);
}